body{
    text-align: center;
    background-image: url("dog.avif");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
font-size: 80px;
}
button{
        width: 370px;
        height: 100px;
        font-size: 40px;
    
}